.title {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.select {
    text-align: center;
    margin: 30px 0;
}

.heatmap {
    text-align: center;
}

.label {
    font-size: 16px;
    font-weight: 600;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
}

.legend-title {
    font-size: 16px;
    font-weight: 600;
}

.legend-label {
    font-size: 12px;
}