.title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.choropleth {
    text-align: center;
}

.states {
    fill: none;
    stroke: #008B8B;
    stroke-linejoin: round;
}

.county {
    stroke: #ffffff;
    stroke-linejoin: round;
}

.d3-tip {
    background: rgba(255, 174, 0, 0.7);
    padding: 10px 8px;
}

.d3-tip span {
    color: #ffffff;
}

.axis text {
    font-size: 14px;
}

.axis path {
    fill: none;
    stroke: none;
}

.axis line {
    fill: none;
    stroke: #000;
}